<% provide(:title, 'About') %>
<h1>About Us</h1>
<p>
  <a href='http://ithacagenerator.org'>Ithaca Generator</a> is a
  community-oriented <a href='http://en.wikipedia.org/wiki/Makerspaces'>
    Makerspace</a>  in Ithaca, NY. We enable people to make things by
<ul>
  <li>Providing a space and tools so people can make things they can't
    make at home</li>

  <li>Providing classes so people can learn how to make
    things they can't make with their current skillset</li>

  <li>Providing a social space so people can collaborate on making
    things they can't make alone</li>
</ul>
</p>
<p>
  We are a member-supported, volunteer-run not-for-profit
  organization. Our member interests vary, from electronics to
  clothing, from board games to woodworking, from music to
  programming. 
</p>
<p>
  Stop by and visit us sometime.
</p>
