<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  See our <a href="http://ithacagenerator.org">main website</a> for
  more information about Ithaca Generator. 
</p>
<p>
  For questions about membership, email us
  at <a href="mailto:info@ithacagenerator.org">info@ithacagenerator.org</a> 
</p>
<p>
  This site is maintained
  by <address><a href='mailto:blaisepascal@gmail.com'>Buddha Buck
</p>
