<% provide(:title, 'Copyrights') %>
<h1>Copyright Licenses</h1>

<p>This program is Copyright &copy; 2014 by:</p> 
<ul>
  <li>Buddha Buck</li>
</ul>

<p>
The source code for the program can be found
at <a href='https://github.com/blaisepascal/IGMembers'>GitHub</a>, and
is licensed under the terms of the MIT License and the Beer License,
referenced below.
</p><p>
This program is based on the Sample App from the book <title>Ruby On Rails
  Tutorial</title> by Michael Hartl. He requires us to include the two
license notices for his book.
</p>
<div class='code'>
  <div class='highlight'><pre>
    The MIT License

Copyright (c) 2013 Michael Hartl

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.  IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
    THE SOFTWARE.
    </pre>
  </div>
</div>

<div class='code'><div class='highlight'><pre>
 /*
 * ----------------------------------------------------------------------------
 * "THE BEER-WARE LICENSE" (Revision 42):
 * Michael Hartl wrote this code. As long as you retain this notice you
 * can do whatever you want with this stuff. If we meet some day, and you think
 * this stuff is worth it, you can buy me a beer in return.
 * ----------------------------------------------------------------------------
 */
    </pre>
  </div>
 </div>   
