<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  This is place-holder text, as I don't know what help will be useful.
</p><p>
  If you have questions, or suggestions for what sort of help would be helpful, email them to <a href='mailto:blaisepascal@gmail.com'>Buddha Buck</a>.
</p>
