<% provide(:title, @user.email) %>
<div class="row">
<h1><%= @user.email %></h1>
<p>You are an administrator, right?</p>
<p>Therefore you may:</p>
<ul>
<li><%= link_to "List Members", members_path %></li>
<li><a href="/members/new">Add Members</a></li>
<li><a href="/users/new">Add additional administrators</a>
</ul>

</div>
