<footer class="footer navbar navbar-fixed-bottom navbar-inverse">
  <div class="container">
    <big class='navbar-text'>
      Ithaca Generator Memberships
    </big>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
	<li><%= link_to "About",   about_path %></li>
	<li><%= link_to "Contact", contact_path %></li>
	<li><a href="http://ithacagenerator.org/">News</a></li>
      </ul>
    </div>
  </div>
</footer>

             
