<header class="navbar navbar-default" role="navigation"> 
  <div class="container">
    <div class="navbar-header">
      <%= link_to image_tag('gray_brown.png',
			    alt:"Ithaca Generator",
			    height: '90',
          ),
		  root_path, id: "logo", class: "navbar-brand navbar-left" %>
      </div>
      <div class="nav navbar-nav navbar-right">
        <ul class="nav navbar-nav">
          <% if signed_in? %>
            <li><%= link_to "List Members", members_path %></li>
            <li><a href="/members/new">Add Member</a>

            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle"
                 data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="divider"></li>
                  <li>
                    <%= link_to "Sign out", signout_path, method:
                    "delete" %>
                  </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>
